In [1]:
import pandas as pd
import numpy as np
from scipy.stats import binned_statistic_2d
%pylab inline
from scipy import stats
import statsmodels.api as sm
import matplotlib.pyplot as plt
import warnings
from itertools import product

Populating the interactive namespace from numpy and matplotlib

In [2]:
d = ["yellow_tripdata_2016-05.csv", "yellow_tripdata_2016-04.csv", "yellow_tripdata_2016-03.csv", "yellow_tripdata_2016-02.csv", "yellow_tripdata_2016-01.csv", "yellow_tripdata_2015-12.csv"]

In [3]:
k= pd.date_range(start='2015-12-01 00:00:00', end= '2016-05-31 23:00:00', freq='H')
t = pd.DataFrame(index=range(len(k)), columns=['su'])
t.index= k
t.loc[:,:] = 0

In [4]:
da= []
def get(dat):
    data = pd.read_csv(str(dat))
    data = data[data.pickup_longitude >= -73.96668840000001]
    data = data[data.pickup_longitude <= -73.95557679999999]
    data = data[data.pickup_latitude >= 40.747766]
    data = data[data.pickup_latitude <= 40.756154200000005]
    data = data[data.tpep_pickup_datetime != data.tpep_dropoff_datetime]
    data = data[data.passenger_count != 0]
    data = data[data.trip_distance != 0]
    data.tpep_pickup_datetime = pd.to_datetime(data.tpep_pickup_datetime)
    data.tpep_pickup_datetime = data.tpep_pickup_datetime.map(lambda x: x.replace(minute=0, second=0))
    for i in range(len(data)):
        t['su'][data.tpep_pickup_datetime.iloc[i]] += 1
    da.append(data.tpep_pickup_datetime)
    return da

In [5]:
%%time
for i in range(len(d)):
    get(d[i])

Wall time: 6min 34s

In [6]:
t

                      su
2015-12-01 00:00:00   10
2015-12-01 01:00:00   13
2015-12-01 02:00:00    0
2015-12-01 03:00:00    1
2015-12-01 04:00:00    5
2015-12-01 05:00:00   22
2015-12-01 06:00:00   43
2015-12-01 07:00:00  118
2015-12-01 08:00:00  134
2015-12-01 09:00:00  135
2015-12-01 10:00:00   75
2015-12-01 11:00:00   75
2015-12-01 12:00:00   60
2015-12-01 13:00:00   53
2015-12-01 14:00:00   51
2015-12-01 15:00:00   42
2015-12-01 16:00:00   29
2015-12-01 17:00:00   37
2015-12-01 18:00:00   61
2015-12-01 19:00:00   56
2015-12-01 20:00:00   49
2015-12-01 21:00:00   45
2015-12-01 22:00:00   37
2015-12-01 23:00:00   20
2015-12-02 00:00:00    9
2015-12-02 01:00:00    3
2015-12-02 02:00:00    3
2015-12-02 03:00:00    1
2015-12-02 04:00:00    7
2015-12-02 05:00:00   20
...                  ...
2016-05-30 18:00:00   38
2016-05-30 19:00:00   28
2016-05-30 20:00:00   34
2016-05-30 21:00:00   35
2016-05-30 22:00:00   20
2016-05-30 23:00:00   18
2016-05-31 00:00:00   10
2016-05-31 01:00:00    4
2016-05-31 02:00:00    0
2016-05-31 03:00:00    5
2016-05-31 04:00:00    7
2016-05-31 05:00:00   13
2016-05-31 06:00:00   39
2016-05-31 07:00:00   97
2016-05-31 08:00:00  101
2016-05-31 09:00:00  100
2016-05-31 10:00:00   70
2016-05-31 11:00:00   71
2016-05-31 12:00:00   53
2016-05-31 13:00:00   59
2016-05-31 14:00:00   66
2016-05-31 15:00:00   36
2016-05-31 16:00:00   27
2016-05-31 17:00:00   31
2016-05-31 18:00:00   54
2016-05-31 19:00:00   65
2016-05-31 20:00:00   38
2016-05-31 21:00:00   46
2016-05-31 22:00:00   29
2016-05-31 23:00:00   23

[4392 rows x 1 columns]

In [9]:
t.to_csv('c6w3.csv', sep=';', index=True, index_label='index', header=True )